<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geschichte App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion-padding'>
<h2>GS-APP</h2>


<ion-list>
  <ion-item-sliding #item *ngFor='let t of topics' >

    <ion-item (click)='showTopic(t.id)'>
      <ion-label>{{t.title}}: {{t.content}}</ion-label>
    </ion-item>
  
    <ion-item-options side="end">
      <ion-item-option (click)="editTopic(t.id, item)">edit</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

<h2 *ngIf='title!=""'>{{t.title}}</h2>


</ion-content>
